 :root {
     --color-dark: #1b1b1b;
     --color-light: #ffffff;
     --color-glod: #c7b8a5;
 }

 body{
     font-family:"oswald", sans-serif;
     font-weight: 200;
     background-color: var(--color-dark);
     color: var(--color-light);
     letter-spacing: .05rem;
 }

 .lead-xl {
     font-size: 1.75rem;
 }

 .nav-link {
     margin-left: 2rem;
 }

 .sideway {
     writing-mode: vertical-lr;
     display: block;
     margin: 3.5rem 0;
     transform: rotate(-180deg);
 }

 .btn-primary{
     background-color: transparent;
     border: 1px solid var(--color-light);
     border-radius: 0;
     color: var(--color-light);
     padding: .7rem 2.5rem;
     font-size: 1.25rem;
 }

.btn-primary:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 1px solid var(--color-light);
}

.navar {
    min-height: 5rem
}